<div class="main">
    <div class="container py-5">
        <h1 class="mb-5">About Project</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis illum illo tenetur vitae, veritatis magni
            vel dolorem, ipsam quia dolore consequuntur dolor maxime enim nam vero aut laborum ratione cupiditate incidunt
            eum esse mollitia error. Harum maxime laboriosam quidem illo facere? Rem, sed iusto officia tempore rerum
            reprehenderit quasi consectetur ex quibusdam voluptatibus cum? Ullam cumque vero inventore dolorum molestiae
            similique fuga quae aliquid, at aspernatur velit amet placeat minus exercitationem ex commodi incidunt modi?
            Illum repellendus soluta perspiciatis magni exercitationem excepturi debitis quis, cumque cupiditate commodi
            iusto beatae, at hic amet eligendi laudantium totam rerum mollitia, esse quos saepe eveniet suscipit
            necessitatibus. Voluptatem sequi suscipit tenetur officiis laudantium veniam vitae libero ut rerum quasi. Eaque
            molestiae eligendi quia recusandae.</p>
    </div>
</div>