<div class='nav-bar'>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="container">
            <span class="logo" routerLink="/restaurants">Huuungry</span>
            <nav class="ms-auto d-none d-lg-block">
                <a routerLink="/restaurants" routerLinkActive="active" class="fs-6 ms-5 fw-lighter text-decoration-none text-reset">Restaurant List</a>
                <a routerLink="/about" routerLinkActive="active" class="fs-6 ms-5 fw-lighter text-decoration-none text-reset">About Project</a>
            </nav>
            <button mat-icon-button class="d-lg-none ms-auto example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
    
