:host  {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.mat-card {
    position: relative;
    // top: 0;
    padding: 0 !important;
    margin-bottom: 30px;
    overflow: hidden;
    // transition: all 0.25s ease-in-out;
    box-shadow: 6px 6px 3px -1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    cursor: pointer;

    // &:hover {
    // top: -.3rem;
    // box-shadow: 10px 10px 7px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    // }
}

.restaurant-item {
    flex: 1;
    flex-flow: column wrap;

    p {
        color: #aaa;
    }

    a {
        text-decoration: none;
    }
}

.img-wrapper {
    height: 140px;
    width: 100%;

    img {
        object-fit: cover;
    }
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 20px;
}

.header {
    h1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-search {
        width: 100%;
        margin-left: auto;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        h1 {
            width: initial;
        }

        .form-search {
            width: 50%;
            margin-bottom: 0;
        }
    }

    .restaurant-item {
        flex-flow: row wrap;
    }

    .img-wrapper {
        height: 240px;
        width: 28%;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        .form-search {
            width: 30%;
        }
    }
}
