<div class="main">
    <div class="container py-5">
        <div class="header d-flex flex-wrap">
            <h1>Restaurants</h1>
            <span class="form-search">
                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Search Restaurant</mat-label>
                    <input style="width: 100%" matInput placeholder="ex. Bydgoszcz..." [(ngModel)]='inputValue'>
                </mat-form-field>
            </span>
        </div>
        <span *ngFor="let restaurant of restaurantList">
            <mat-card class="d-flex" *ngIf='searchRestaurant(restaurant)'>
                <div class="restaurant-item d-flex" [routerLink]="['/restaurant', restaurant.id]">
                    <div class="img-wrapper">
                        <img [src]="restaurant.imgName" alt="" height='100%' width="100%">
                    </div>
                    <div class="content-wrapper">
                        <h3 class="mb-4">{{ restaurant.name }}</h3>
                        <div style="display: flex; flex-flow: column wrap;">
                            <h5>Address:</h5>
                            <p>{{ restaurant.address.street + " " + restaurant.address.number + ", " +
                                restaurant.address.zipCode + " " + restaurant.address.city }}</p>
                            <h5>Phone:</h5>
                            <a style="width: fit-content;" (click)="handlePhoneClick($event)" [href]="'tel:' + restaurant.phone">{{ restaurant.phone
                                }}</a>
                        </div>
                    </div>
                </div>
            </mat-card>
        </span>
    </div>
</div>
