<app-navbar></app-navbar>
<span
	class="router-wrapper"
	[@moveFromBottomFade]="getState(o)"
	[@moveFromTopFade]="getState(o)"
	[@moveFromLeftFade]="getState(o)"
	[@moveFromRightFade]="getState(o)"
	>
	<router-outlet #o="outlet">  </router-outlet>
</span>