<div class="main">
    <div class="container py-5">
        <mat-card class="d-flex">
            <div class="restaurant-item d-flex">
                <div class="img-wrapper">
                    <img [src]="restaurant.imgName" alt="" height='100%' width="100%">
                </div>
                <div class="content-wrapper">
                    <h2 class="mb-4">{{ restaurant.name }}</h2>
                    <div style="display: flex; flex-flow: column wrap;">
                        <span class="row">
                            <span class="col-12 col-lg-6">
                                <h5>Address:</h5>
                                <p>{{ restaurant.address.street + " " + restaurant.address.number + ", " +
                                    restaurant.address.zipCode + " " + restaurant.address.city }}</p>
                                <h5>Phone:</h5>
                                <p><a [href]="'tel:' + restaurant.phone">{{ restaurant.phone }}</a></p>
                            </span>
                            <span class="col-12 col-lg-6">
                                <h5>Website:</h5>
                                <p><a target="_blank" href="{{ restaurant.website }}">{{
                                        restaurant.website }}</a></p>
                                <h5>Email Address:</h5>
                                <p><a href="mailto:{{ restaurant.email }}">{{ restaurant.email }}</a></p>
                            </span>
                        </span>
                        <button routerLink="/restaurants" style="margin-left: auto;" mat-raised-button color="primary">
                            <span class="me-3">Back to Restaurant List</span>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>