:host  {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.mat-card {
    position: relative;
    padding: 0 !important;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 6px 6px 3px -1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.restaurant-item {
    flex: 1;
    flex-flow: column wrap;

    p {
        color: #aaa;
    }

    a {
        text-decoration: none;
    }
}

.img-wrapper {
    height: 140px;
    width: 100%;

    img {
        object-fit: cover;
    }
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 20px;
}

@media screen and (min-width: 576px) {
    .img-wrapper {
        height: 240px;
    }
}

@media screen and (min-width: 1200px) {
    .content-wrapper {
        padding: 30px 50px;
    }

    .img-wrapper {
        height: 360px;
    }
}
