/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98770');

* {
    font-family: 'SF Pro Display', sans-serif;
}

html,
body {
    font-family: 'SF Pro Display', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;

    .main {
        width: 100vw;
        height: 100%;
        background: #303030;
    }
}

